bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
.idea/
*.env
docker-compose.override.yml
CourseManagementSystem/appsettings.json
CourseManagementSystem/appsettings.Production.json
compose.yaml